:root {
  --primary-color: #274fc7;
  --secondary-color: #264eca;
}
/* Global Typography */
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300; /* Default */

  background-color: #244bc5;
  touch-action: manipulation;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600; /* For headings */
}

p {
  font-weight: 500; /* For paragraphs */
}
