/* ============================= */
/*        Login Page          */
/* ============================= */

@import "./medias/login.css";

body,
html {
  background-color: var(--primary-blue);
}

.half-circle,
.wave {
  position: absolute;
  pointer-events: none;
}

label {
  color: var(--primary-white);
}

.bottom {
  bottom: -10px;
  left: -10px;
  width: 250px;
  height: auto;
  z-index: 3;
}

.second {
  bottom: -20px;
  left: -18px;
  width: 320px;
  height: auto;
  z-index: 2;
}

.third {
  bottom: 2px;
  left: -1px;
  width: 360px;
  height: auto;
  z-index: 1;
}

.wave {
  right: 0;
  top: 0;
  width: 650px;
}

.el-button--primary {
  color: var(--black);
}

.el-button {
  font-weight: 600 !important;
  padding: 25px 25px;
  font-size: 1.1rem;
  margin-top: 1rem;
  color: var(--primary-white);
  background-color: var(--el-color-primary);
}

button span {
  text-transform: capitalize;
}

button {
  font-weight: bold;
  cursor: pointer;
  width: 100%;
}

/* Overriding ElementPlus' styles */
.el-input__wrapper {
  background-color: transparent !important;
  margin: 12px 0;
  padding: 12px !important;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
}

.el-input__inner {
  color: var(--primary-white) !important;
  padding-left: 0.7rem !important;
}

.el-input__inner::placeholder {
  color: var(--primary-white) !important;
  font-weight: 200 !important;
}

.el-input__prefix {
  color: var(--primary-white) !important;
  font-family: "Montserrat" !important;
}

.el-form-item__error {
  color: #f56c6c !important;
  font-size: 12px;
  padding-top: 4px;
  border-radius: 4px;
  transition: all 0.3s;
}

.no-data-image {
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.back-btn {
  background-color: #f5f5f5;
  color: var(--el-color-primary);
  border-radius: 6px;
}
